

$color-black: #1b1f23;
$color-white: #fff;


$color-gray-0: #fafbfc;
$color-gray-1: #f6f8fa;
$color-gray-2: #909dab;
$color-gray-3: #768390;
$color-gray-4: #636e7b;
$color-gray-5: #545d68;
$color-gray-6: #444c56;
$color-gray-7: #373e47;
$color-gray-8: #2d333b;
$color-gray-9: #22272e;



$color-blue-0: #c6e6ff;
$color-blue-1: #96d0ff;
$color-blue-2: #6cb6ff;
$color-blue-3: #539bf5;
$color-blue-4: #4184e4;
$color-blue-5: #316dca;
$color-blue-6: #255ab2;
$color-blue-7: #1b4b91;
$color-blue-8: #143d79;
$color-blue-9: #0f2d5c;



$color-green-0: #b4f1b4;
$color-green-1: #8ddb8c;
$color-green-2: #6bc46d;
$color-green-3: #57ab5a;
$color-green-4: #46954a;
$color-green-5: #347d39;
$color-green-6: #2b6a30;
$color-green-7: #245829;
$color-green-8: #1b4721;
$color-green-9: #113417;


$color-yellow-0: #fbe090;
$color-yellow-1: #eac55f;
$color-yellow-2: #daaa3f;
$color-yellow-3: #c69026;
$color-yellow-4: #ae7c14;
$color-yellow-5: #966600;
$color-yellow-6: #805400;
$color-yellow-7: #6c4400;
$color-yellow-8: #593600;
$color-yellow-9: #452700;


$color-orange-0: #ffddb0;
$color-orange-1: #ffbc6f;
$color-orange-2: #f69d50;
$color-orange-3: #e0823d;
$color-orange-4: #cc6b2c;
$color-orange-5: #ae5622;
$color-orange-6: #94471b;
$color-orange-7: #7f3913;
$color-orange-8: #682d0f;
$color-orange-9: #4d210c;


$color-red-0: #ffd8d3;
$color-red-1: #ffb8b0;
$color-red-2: #ff938a;
$color-red-3: #f47067;
$color-red-4: #e5534b;
$color-red-5: #c93c37;
$color-red-6: #ad2e2c;
$color-red-7: #922323;
$color-red-8: #78191b;
$color-red-9: #78191b;


$color-purple-0: #eedcff;
$color-purple-1: #dcbdfb;
$color-purple-2: #dcbdfb;
$color-purple-3: #b083f0;
$color-purple-4: #986ee2;
$color-purple-5: #8256d0;
$color-purple-6: #6b44bc;
$color-purple-7: #5936a2;
$color-purple-8: #472c82;
$color-purple-9: #352160;



$color-pink-0: #ffd7eb;
$color-pink-1: #ffb3d8;
$color-pink-2: #fc8dc7;
$color-pink-3: #e275ad;
$color-pink-4: #c96198;
$color-pink-5: #ae4c82;
$color-pink-6: #983b6e;
$color-pink-7: #7e325a;
$color-pink-8: #69264a;
$color-pink-9: #551639;



$color-auto-black: #cdd9e5;
$color-auto-white: #1c2128;
$color-auto-gray-0: #22272e;
$color-auto-gray-1: #2d333b;
$color-auto-gray-2: #373e47;
$color-auto-gray-3: #444c56;
$color-auto-gray-4: #545d68;
$color-auto-gray-5: #636e7b;
$color-auto-gray-6: #768390;
$color-auto-gray-7: #909dab;
$color-auto-gray-8: #adbac7;


$color-auto-gray-9: #cdd9e5;
$color-auto-blue-0: #0f2d5c;
$color-auto-blue-1: #143d79;
$color-auto-blue-2: #1b4b91;
$color-auto-blue-3: #255ab2;
$color-auto-blue-4: #316dca;
$color-auto-blue-5: #4184e4;
$color-auto-blue-6: #539bf5;
$color-auto-blue-7: #6cb6ff;
$color-auto-blue-8: #96d0ff;
$color-auto-blue-9: #c6e6ff;



$color-auto-green-0: #113417;
$color-auto-green-1: #1b4721;
$color-auto-green-2: #245829;
$color-auto-green-3: #2b6a30;
$color-auto-green-4: #347d39;
$color-auto-green-5: #46954a;
$color-auto-green-6: #57ab5a;
$color-auto-green-7: #6bc46d;
$color-auto-green-8: #8ddb8c;
$color-auto-green-9: #b4f1b4;



$color-auto-yellow-0: #452700;
$color-auto-yellow-1: #593600;
$color-auto-yellow-2: #6c4400;
$color-auto-yellow-3: #805400;
$color-auto-yellow-4: #966600;
$color-auto-yellow-5: #ae7c14;
$color-auto-yellow-6: #c69026;
$color-auto-yellow-7: #daaa3f;
$color-auto-yellow-8: #eac55f;
$color-auto-yellow-9: #fbe090;



$color-auto-orange-0: #4d210c;
$color-auto-orange-1: #682d0f;
$color-auto-orange-2: #7f3913;
$color-auto-orange-3: #94471b;
$color-auto-orange-4: #ae5622;
$color-auto-orange-5: #cc6b2c;
$color-auto-orange-6: #e0823d;
$color-auto-orange-7: #f69d50;
$color-auto-orange-8: #ffbc6f;
$color-auto-orange-9: #ffddb0;



$color-auto-red-0: #78191b;
$color-auto-red-1: #78191b;
$color-auto-red-2: #922323;
$color-auto-red-3: #ad2e2c;
$color-auto-red-4: #c93c37;
$color-auto-red-5: #e5534b;
$color-auto-red-6: #f47067;
$color-auto-red-7: #ff938a;
$color-auto-red-8: #ffb8b0;
$color-auto-red-9: #ffd8d3;



$color-auto-purple-0: #352160;
$color-auto-purple-1: #472c82;
$color-auto-purple-2: #5936a2;
$color-auto-purple-3: #6b44bc;
$color-auto-purple-4: #8256d0;
$color-auto-purple-5: #986ee2;
$color-auto-purple-6: #b083f0;
$color-auto-purple-7: #dcbdfb;
$color-auto-purple-8: #dcbdfb;
$color-auto-purple-9: #eedcff;



$color-auto-pink-0: #551639;
$color-auto-pink-1: #69264a;
$color-auto-pink-2: #7e325a;
$color-auto-pink-3: #983b6e;
$color-auto-pink-4: #ae4c82;
$color-auto-pink-5: #c96198;
$color-auto-pink-6: #e275ad;
$color-auto-pink-7: #fc8dc7;
$color-auto-pink-8: #ffb3d8;
$color-auto-pink-9: #ffd7eb;


$color-text-primary: #adbac7;
$color-text-secondary: #768390;
$color-text-tertiary: #768390;
$color-text-placeholder: #545d68;
$color-text-disabled: #545d68;
$color-text-inverse: #22272e;
$color-text-link: #539bf5;
$color-text-danger: #e5534b;
$color-text-success: #6bc46d;
$color-text-warning: #daaa3f;
$color-text-white: #cdd9e5;
$color-icon-primary: #adbac7;
$color-icon-secondary: #636e7b;
$color-icon-tertiary: #545d68;
$color-icon-info: #6cb6ff;
$color-icon-danger: #e5534b;
$color-icon-success: #6bc46d;
$color-icon-warning: #daaa3f;
$color-border-primary: #444c56;
$color-border-secondary: #373e47;
$color-border-tertiary: #636e7b;
$color-border-overlay: #444c56;
$color-border-inverse: #cdd9e5;
$color-border-info: rgba(65, 132, 228, 0.4);
$color-border-danger: rgba(229, 83, 75, 0.4);
$color-border-success: rgba(87, 171, 90, 0.4);
$color-border-warning: rgba(174, 124, 20, 0.4);
